@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@import 'https://libs.cdnjs.net/animate.css/3.7.0/animate.min.css'
@import 'https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.css'

html, body
  padding 0
  margin 0
  background-color #efefef

body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background: rgba(40,42,44,.6)
  box-sizing border-box
  border-bottom 1px solid $borderColor

.sidebar-mask
  z-index 2000
  background: rgba(40,42,44,0.6)
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 16px
  background-color #fff
  width $sidebarWidth
  z-index 10
  right 0
  box-sizing border-box
  border-right 1px solid $borderColor
  overflow-y auto

.content:not(.custom)
  @extend $wrapper
  > *:first-child
    margin-top $navbarHeight
  a:hover
    text-decoration underline
  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px
  img
    max-width 100%

.content.custom
  padding 0
  margin 0
  img
    max-width 100%

a
  font-weight 500
  color $accentColor
  text-decoration none

p a code
  font-weight 400
  color $accentColor

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size .9rem
  color #999
  border-left .5rem solid #dfe2e5
  margin 0.5rem 0
  padding .25rem 0 .25rem 1rem
  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25
  .content:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 1rem)
    margin-bottom 0
    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

h1
  font-size 2.2rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.35rem

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5
  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block
  &.no-navbar
    .content:not(.custom) > h1, h2, h3, h4, h5, h6
        margin-top 1.5rem
        padding-top 0
    .sidebar
      top 0


@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0

@require 'mobile.styl'


// 博客样式  

.text-center
  text-align: center

@media (max-width: 540px) 
  .post-date 
    display none
  


@media (min-width: 541px) 
  .post-date 
    display block

.btn 
  cursor: pointer
  background: #97dffd
  color: #fff
  font-size: 13px
  padding: 1px 15px
  border-radius: 5px
  border: none
  transition-property: background-color
  transition-duration: 0.2s
  transition-timing-function: ease-in-out
  transition-delay: 0s
  line-height: 2
  text-decoration: none
  padding 0.4rem


.post-badge 
  position: absolute
  left: -16px
  top: 105px
  border-color: #47456d
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
  background-color: #97dffd
  margin: 5px 0 15px 2px
  font-size: 14px
  border-radius: 0 4px 4px 0
  display: inline-block
  padding: 7px 11px 7px 32px
  line-height: 1

  a 
    color: #ffffff
  


.blog-box 
  padding-top: 6rem
  margin: 0px auto
  max-width 1200px

  article 
    position: relative
    padding: 0.5rem
    background: #fff
    margin-bottom: 40px
    border-radius: 5px
    .lovely-title 
      color: #444
      font-size: 25px
      font-weight: 700
      text-align: center

    .lovely-content 
      margin-top: 6rem

  .post-date 
    background-color: #97dffd
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    position: absolute
    top: -20px
    left: -30px
    height: 60px
    width: 70px
    padding-top: 10px
    border-radius: 100px
    color: #fff
    text-align: center
    line-height: 1.1
  
  .post-time 
    color #00a7e0

  .last-updated
    text-align: center

.lovely-sidebar
  display: inline-block    
  float: right 

.post
  display: inline-block    

.post-type-normal
  max-width 764px

//图标
.links-of-author-item .iconfont {
    font-size: 16px;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 42px;
    color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
    font-style: normal;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}  

.links-of-author-item .iconfont:hover{
  background-color: blue;
  }

.links-of-author-item a {
    display: block;
    text-decoration: none;
    overflow: visible;
}

.links-of-author-item a {
    max-width: 216px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.sidebar-nav {
  padding: 20px;
}

.sidebar-nav .sidebar-nav-active {
  color: #fc6423;
  border-bottom-color: #fc6423;
}

.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}

.sidebar-nav-overview {
  margin-left: 10px;
}

.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  color: #999;
  text-align: center;
}

.sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
  }

  .nav-links {
    display: none;
    border-bottom: 1px solid $borderColor;
    padding: 0.5rem 0 0.75rem 0;

    a {
      font-weight: 600;
    }

    .nav-item, .repo-link {
      display: block;
      line-height: 1.25rem;
      font-size: 1.1em;
      padding: 0.5rem 0 0.5rem 1.5rem;
    }
  }

  & > .sidebar-links {
    padding: 1.5rem 0;

    & > li > a.sidebar-link {
      font-size: 1.1em;
      line-height: 1.7;
      font-weight: bold;
    }

    & > li:not(:first-child) {
      margin-top: 0.75rem;
    }
  }
}

@media (max-width: $MQMobile) {
  .blog-box {
    padding-top: 1rem;
  }
    
  .sidebar {
    position: fixed;
    left :0px;
    z-index: 2500;
    height 100%;
    .nav-links {
      display: block;

      .dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after {
        top: calc(1rem - 2px);
      }
    }

    & > .sidebar-links {
      padding: 1rem 0;
    }
  }
}

.sidebar_bt {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  padding: 10px;
  border-bottom: 1px #eee solid;
}

// 导航切换
ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.blog_tag{
    cursor :pointer;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    margin-top: 20px;
}